@use "../mixin/var";

button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var.$text-1;
  border: none;
  border-radius: 0.8rem;
  line-height: 3.6rem;

  &:focus {
    outline: none;
  }

  &.major {
    padding-inline: 0.8rem;
    width: 100%;
    color: var.$white;
    font-size: 1.4rem;
    font-weight: bold;
    background: var.$primary-Y;

    &.plus {
      width: initial;
      &::before {
        content: "";
        display: inline-block;
        margin-right: 0.4rem;
        width: 2rem;
        height: 2rem;
        background: url("/src/assets/images/icon_plus_white.svg") no-repeat center / contain;
      }
    }
  }
}
