$primary-Y: #ff9700;
$black: #000;
$white: #fff;
$text-1: #17191a;
$text-2: #464a4d;
$text-3: #757b80;
$text-4: #bbc5cc;
$text-tab1: #3e4e50;
$text-tab2: #bdc3c7;
$gray999: #999;
$text-red: #ff0000;
$text-violet: #8e43e7;
$line: #e8eef2;
$line1: #7e7e7e;
$line2: rgb(0 0 0 / 5%);
$bg-color-2: #f2f8fc;
$bg-color-3: #f5f5f5;

$naver-color: #00d03f;
$kakao-color: #fae100;
$google-color: var($white);
