@use "../mixin/var";
@use "../mixin/common";

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  letter-spacing: -0.0625rem;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 1.6rem;
  color: var.$text-1;
  place-items: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

section {
  padding: 1.6rem;

  .item {
    + .item {
      padding-top: 1.6rem;
    }

    .title {
      margin-block: 1rem;
      @include common.flex-BC;

      > p {
        font-size: 2rem;
        font-weight: bold;
      }

      > span {
        font-size: 1.4rem;
        font-weight: bold;
        color: var.$text-3;

        &.arrow {
          width: 2.4rem;
          height: 2.4rem;
          font-size: 0;
          color: transparent;
          background: url("/src/assets/images/icon_arrow.svg") no-repeat center / contain;
        }
      }
    }

    .capsule {
      margin-bottom: 1.6rem;
    }
  }
}
