header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  .header {
    &__logo {
      width: 3rem;
      height: 3rem;
      background: url("/public/images/h_logo.svg") no-repeat center / contain;
      // @include empty-font;
    }
    &__subtitle {
      width: 20px;
      height: 20px;
      color: red;
    }
    &__title {
      color: orange;
    }
    &__btn {
      &--menu {
        width: 3rem;
        height: 3rem;
        // @include empty-font;
        background: url("/public/images/h_menu.svg") no-repeat center / contain;
      }
    }
  }
}
