@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  letter-spacing: -0.0625rem;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  color: #17191a;
  place-items: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

section {
  padding: 1.6rem;
}
section .item + .item {
  padding-top: 1.6rem;
}
section .item .title {
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .item .title > p {
  font-size: 2rem;
  font-weight: bold;
}
section .item .title > span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #757b80;
}
section .item .title > span.arrow {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0;
  color: transparent;
  background: url("/src/assets/images/icon_arrow.svg") no-repeat center/contain;
}
section .item .capsule {
  margin-bottom: 1.6rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.8rem;
  line-height: 3.6rem;
}
button.major {
  padding-inline: 0.8rem;
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  background: #ff9700;
}
button.major.plus {
  width: initial;
}
button.major.plus::before {
  content: "";
  display: inline-block;
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  background: url("/src/assets/images/icon_plus_white.svg") no-repeat center/contain;
}