@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");
.Icon_1 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_1.svg) no-repeat center/contain;
}

.Icon_1__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_1.svg) no-repeat center/contain;
}

.business_1 {
  background: url(../../images/category_icon_1.png) no-repeat top/4rem;
}

.Icon_2 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_2.svg) no-repeat center/contain;
}

.Icon_2__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_2.svg) no-repeat center/contain;
}

.business_2 {
  background: url(../../images/category_icon_2.png) no-repeat top/4rem;
}

.Icon_3 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_3.svg) no-repeat center/contain;
}

.Icon_3__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_3.svg) no-repeat center/contain;
}

.business_3 {
  background: url(../../images/category_icon_3.png) no-repeat top/4rem;
}

.Icon_4 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_4.svg) no-repeat center/contain;
}

.Icon_4__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_4.svg) no-repeat center/contain;
}

.business_4 {
  background: url(../../images/category_icon_4.png) no-repeat top/4rem;
}

.Icon_5 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_5.svg) no-repeat center/contain;
}

.Icon_5__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_5.svg) no-repeat center/contain;
}

.business_5 {
  background: url(../../images/category_icon_5.png) no-repeat top/4rem;
}

.Icon_6 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_6.svg) no-repeat center/contain;
}

.Icon_6__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_6.svg) no-repeat center/contain;
}

.business_6 {
  background: url(../../images/category_icon_6.png) no-repeat top/4rem;
}

.Icon_7 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_7.svg) no-repeat center/contain;
}

.Icon_7__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_7.svg) no-repeat center/contain;
}

.business_7 {
  background: url(../../images/category_icon_7.png) no-repeat top/4rem;
}

.Icon_8 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_8.svg) no-repeat center/contain;
}

.Icon_8__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_8.svg) no-repeat center/contain;
}

.business_8 {
  background: url(../../images/category_icon_8.png) no-repeat top/4rem;
}

.Icon_9 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_9.svg) no-repeat center/contain;
}

.Icon_9__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_9.svg) no-repeat center/contain;
}

.business_9 {
  background: url(../../images/category_icon_9.png) no-repeat top/4rem;
}

.Icon_10 {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_10.svg) no-repeat center/contain;
}

.Icon_10__on {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
  background: url(../../images/tab_icon_on_10.svg) no-repeat center/contain;
}

.business_10 {
  background: url(../../images/category_icon_10.png) no-repeat top/4rem;
}

.tab {
  opacity: 0;
}

.ani {
  opacity: 1;
  transition: opacity 0.5s;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  letter-spacing: -0.0625rem;
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  color: #17191a;
  place-items: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

section {
  padding: 1.6rem;
}
section:last-of-type {
  padding-bottom: 9rem;
}

.item + .item {
  padding-top: 1.6rem;
}
.item .title {
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item .title > p {
  font-size: 2rem;
  font-weight: bold;
}
.item .title > span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #757b80;
}
.item .title > span.arrow {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0;
  color: transparent;
  background: url("/src/assets/images/icon_arrow.svg") no-repeat center/contain;
}
.item .capsule {
  margin-bottom: 1.6rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.8rem;
  line-height: 3.6rem;
}
button:focus {
  outline: none;
}
button.major {
  padding-inline: 0.8rem;
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  background: #ff9700;
}
button.major.plus {
  width: initial;
}
button.major.plus::before {
  content: "";
  display: inline-block;
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  background: url("/src/assets/images/icon_plus_white.svg") no-repeat center/contain;
}